.Checkout {
    display: flex;
    justify-content: center;
    padding: 30px;

    .Checkout-container {
        border: 1px solid $color-dashboard;
        border-radius: 5px;
        max-width: $breakpoint-sm;
    }

    .Checkout-header {
        display: flex;
        justify-content: flex-start;
        background-color: $color-shift;
        padding: 15px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        a {
            color: $color-dashboard;
        }
    }

    .Checkout-details {
        display: flex;
        padding: 15px;

        img {
            border-radius: 5px;
        }
    }

    .Checkout-form {
        padding: 15px;

        .form-control {
            label {
                display: block;
                margin-bottom: 5px;
                width: 100%;
                font-weight: $font-weight-semi-bold;
            }

            input {
                display: block;
                margin-bottom: 5px;
                width: 100%;
                border: 1px solid $color-dashboard;
                border-radius: 3px;
                height: 2.25em;

                &:focus {
                    outline: none;
                    border-color: $color-accelerate;
                }
            }
        }

        .Checkout-submit-button {
            text-align: right;
            margin-top: 20px;
        }
    }
}
