/* ----------------------------------------------------------------------------- *\
   Vendor Mixins
\* ----------------------------------------------------------------------------- */

@import "utils/vendor/breakpoint";

/* ----------------------------------------------------------------------------- *\
   Defaults
\* ----------------------------------------------------------------------------- */

@import "utils/defaults";

/* ----------------------------------------------------------------------------- *\
   SpotHero Mixins
\* ----------------------------------------------------------------------------- */

@import "utils/mixins/center";
@import "utils/mixins/ellipsis";
@import "utils/mixins/font-family";
@import "utils/mixins/font-size";

/* ----------------------------------------------------------------------------- *\
   Placeholders
\* ----------------------------------------------------------------------------- */

@import "utils/placeholders/clearfix";
@import "utils/placeholders/control-sizing";
@import "utils/placeholders/image-replacement";

/* ----------------------------------------------------------------------------- *\
   Resets
\* ----------------------------------------------------------------------------- */

@import "utils/vendor/normalize";
@import "utils/resets";

/* ----------------------------------------------------------------------------- *\
   Common
\* ----------------------------------------------------------------------------- */

@import "common/layout";
@import "common/typography";
@import "common/Button";
@import "common/TextButton";

/* ----------------------------------------------------------------------------- *\
   Project
\* ----------------------------------------------------------------------------- */

@import "spot/SpotItem";
@import "search/Search";
@import "checkout/Checkout";
@import "confirmation/Confirmation";
