{
    "extends": "@spothero",
    "overrides": [
        {
            "files": [
                "**/*.spec.js"
            ],
            "rules": {
                "max-nested-callbacks": 0
            }
        }
    ]
}
