.details-modal__header {
    margin-top: 5px;
    margin-bottom: 10px;
}

.desription {
    font-size: 13px;
}

.book-btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
