$spot-list-width: 460px;

@import "spot-list/SpotList";

.Search {
    width: 100%;
}

.Search-content {
    position: absolute;
    top: 0;
    left: $spot-list-width;
    width: calc(100vw - #{$spot-list-width});
    height: 100vh;
}
