$color-fuel: #002d5b;
$color-shift: #0082ff;
$color-shift-hover: #026bcf;
$color-pavement: #f6f7f9;

$font-size-sm: 1.2;
$font-size-md: 1.4;

$font-weight-normal: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$z-index-negative: -100;
$z-index-back: 0;
$z-index-mid: 100;
$z-index-fore: 200;
$z-index-layer1: 300;
$z-index-layer2: 400;
$z-index-layer3: 500;
$z-index-layer4: 600;
$z-index-modal-shim: 700;
$z-index-modal: 800;
$z-index-notification: 900;
$z-index-top: 1000;
