.spothero-html {
    * {
        box-sizing: inherit;

        &::before,
        &::after {
            box-sizing: inherit;
        }
    }

    audio,
    canvas,
    img,
    svg,
    video {
        vertical-align: middle;
    }

    p,
    ol,
    ul,
    blockquote,
    figure {
        margin: 0;
        padding: 0;
    }

    fieldset {
        border: none;
        margin: 0;
        padding: 0;
    }
}
