.SpotList {
    position: absolute;
    top: 0;
    left: 0;
    width: $spot-list-width;
    height: 100vh;
    background-color: $color-white;
    border-right: 1px solid $color-dashboard;
    overflow: hidden;
}

.SpotList-feature {
    width: 100%;
    height: 180px;
    padding: 35px;
    border-bottom: 1px solid $color-dashboard;
}

.SpotList-breadcrumbs {
    @include font-size(1.6);
    margin-bottom: 20px;
}

.SpotList-spots {
    width: 100%;
    height: calc(100% - 180px);
    overflow-y: auto;
}
