.SpotListAncestor {
    width: 28.75rem;
    height: 100vh;
    border-right: 1px solid $color-grey-accent;
    overflow: hidden;
}

.SpotListSpots {
    width: 100%;
    height: calc(100% - 11.25rem);
    overflow-y: auto;
}
