html {
    &.spothero-html {
        box-sizing: border-box;
        font-size: 62.5%;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.spothero-html {
    body {
        @include font-family;
        @include font-size;
        font-weight: $font-weight-normal;
        background-color: $color-pavement;
        color: $color-fuel;
    }

    .container {
        position: relative;
        width: 100%;
        max-width: $breakpoint-xl;
        margin: 0 auto;
    }
}

.Root-loader {
    width: 100vw;
    height: 100vh;

    .Loader {
        @include center;
    }
}
