@import "./animation";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");

/* -- Overriding Bulma's Base Styles -- */

/* -- Text Sizes -- */
$size-1: 2rem;
$size-2: 1.5rem;
$size-3: 1.25rem;
$size-4: 1rem;
$size-5: 1rem;
$size-6: 1rem;
$size-7: 1rem;

/* -- Font Weights -- */
$weight-normal: 400;
$weight-semibold: 600;
$weight-bold: 700;

/* -- Font Family -- */
$family-sans-serif: "Open Sans", sans-serif;

/* Header Styles */
$title-color: $color-secondary;
$subtitle-color: $color-secondary;

.title,
.subtitle {
    .is-1,
    .is-2 {
        line-height: 1.5rem;
    }
    .is-3,
    .is-4,
    .is-5,
    .is-6 {
        line-height: 1rem;
    }

    .is-1 {
        font-size: calc(#{$size-1} * 1.25);
        & .is-mobile {
            font-size: $size-1;
        }
    }
    .is-2 {
        font-size: calc(#{$size-2} * 1.3333);
        & .is-mobile {
            font-size: $size-2;
        }
    }
    .is-3 {
        font-size: calc(#{$size-3} * 1.2);
        & .is-mobile {
            font-size: $size-3;
        }
    }
    .is-4 {
        font-size: calc(#{$size-4} + 0.5rem);
        & .is-mobile {
            font-size: $size-4;
        }
    }
    .is-5 {
        font-size: $size-5;
    }
    .is-6 {
        font-size: $size-6;
    }
}

/* Paragraph Styles */
.content {
    font-size: $size-7;

    .is-small {
        font-size: calc(#{$size-7} * 0.75);
    }

    .is-smaller {
        font-size: calc(#{$size-7} * 0.875);
    }
}

/* -- Link Styles -- */
a {
    transition: color $animation;
}

/* -- Breadcrumb Styles -- */
.breadcrumb {
    font-weight: $weight-semibold;

    &li,
    .is-active {
        font-weight: $weight-normal;
    }

    &.has-succeeds-separator {
        li + li::before {
            content: "&gt;";
        }
    }
}

@import "../../../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../../../node_modules/bulma/sass/utilities/derived-variables.sass";
@import "../../../node_modules/bulma/sass/base/generic.sass";
@import "../../../node_modules/bulma/sass/elements/title.sass";
@import "../../../node_modules/bulma/sass/elements/content.sass";
@import "../../../node_modules/bulma/sass/components/breadcrumb.sass";
