.spothero-html {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 0;
        font-weight: $font-weight-semi-bold;

        &.heading-sm {
            @include font-size(1.6);
        }

        &.heading-md {
            @include font-size(1.8);
        }

        &.heading-lg {
            @include font-size(4.8);
        }
    }

    p {
        line-height: 1.5;
    }

    a {
        text-decoration: none;
        outline: none;
        color: $color-shift;
        text-align: left;

        &:active,
        &:focus {
            outline: none;
        }

        &:hover {
            color: $color-shift-hover;
        }
    }

    small {
        @include font-size($font-size-sm);
    }
}
